DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lime-data
MODEL_API_URL=http://127.0.0.1:8021
MODEL_API_PREDICT_PATH=/predict
MODEL_API_TIMEOUT_SECONDS=30
LOCAL_MODEL_PATH=../COGNITIVE-LOAD-API/model/cognitive_load_model.pkl
